* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

span {
  font-size: 0.8rem;
}

.fontContainer {
  margin: 2rem;
  border: 2rem;
  background-color: aqua;
  display: block;
  height: 480px;
  width: 480px;
}

.fontContainer:hover {
  box-shadow: 0.1rem 0.2rem coral;
}

.fontBox {
  padding: 0.5rem;
  background-color: violet;
  height: 25%;
  width: 100%;
  font-size: 2rem;
  align-items: center;
  padding-top: 1rem;
  text-align: center;
}

.choiceBox {
  float: left;
  color: tomato;
  width: 10vh;
}

option{
  color: tomato;
}
optgroup{
  color: teal;
}

.fontBox:hover {
  color: white;
}

.textBox {
  padding: 0.5rem;
  background-color: cornflowerblue;
  height: 75%;
  width: 100%;
}

.inputBox {
  padding: 0.5rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  resize: none;
  font-size: 2rem;
}

select, option {
  text-align: center;
  font-size: 1rem;
}

.fontBoxChild .inputBox{
  font-family: 'Press Start 2P';
}
/* optgroup {
  font-family: monospace;
} */
/* 
.digital-font {
  font-family: 'LAB디지털';
}

.classB-font {
  font-family: 'monospace';
}

.option-digital {
  font-family: 'LAB디지털';
}

.option-start2p {
  font-family: 'Press Start 2P';
} */

/* 
@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LAB디지털';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Binggrae-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



 */

@font-face {
  font-family: '';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/drfont_daraehand_Basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: '';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/NotoSansKR-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: '';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/%EB%8F%99%EA%B7%B8%EB%9D%BC%EB%AF%B8%EC%9E%AC%EB%8B%A8B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: '';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/drfont_daraehand_Basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'TTTogether';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Recipekorea';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'KBIZ한마음명조체';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumMyungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaplestoryBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
 }
 
 

@font-face {
  font-family: 'ChosunBg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}



/* 더페이스샵잉크립 */
/* noto sans kr bold */
/* 777리틀베어 */
/* 쿠키런 */
/* drfont */
/* 동그라미체1,2 */
