* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  color: blueviolet;
  height: 25px;
  width: 25px;

}

.buttonBox {
  
}

span {
  font-size: 0.8rem;
}

.fontContainer {
  margin: 2rem;
  border: 2rem;
  background-color: aqua;
  display: block;
  height: 480px;
  width: 480px;
}

.fontContainer:hover {
  box-shadow: 0.1rem 0.2rem coral;
}

.fontBox {
  padding: 0.5rem;
  background-color: violet;
  height: 25%;
  width: 100%;
  font-size: 2rem;
  align-items: center;
  padding-top: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.fontBox .choiceBox {
  float: left;
  color: tomato;
  /* width: 18vh; */
}

.choiceBox {
  height: 4vh;
  width: 18vh;
}
/* .choiceBox::after {
  height: 4vh;
} */

option {
  color: tomato;
}

optgroup {
  color: teal;
}

.fontBox:hover {
  color: white;
}

.textBox {
  padding: 0.5rem;
  background-color: cornflowerblue;
  height: 75%;
  width: 100%;
}

.inputBox {
  padding: 0.5rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  resize: none;
  font-size: 2rem;
}

select,
option {
  text-align: center;
  font-size: 1rem;
}

.fontBoxRight .inputBox {
  /* font-family: 'Press Start 2P'; */
}

.fontBoxLeft {
   grid-row: 50%;
}
.choiceContainer {

}


@font-face {
  font-family: 'drfont';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/drfont_daraehand_Basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NotoSansKR';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/NotoSansKR-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'circleB';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/circleB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'circleM';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/circleM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'TTTogether';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Recipekorea';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'KBIZ한마음명조체';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumMyungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaplestoryBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}



@font-face {
  font-family: 'ChosunBg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');



@font-face {
  font-family: '777Littlebear';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Littlebear.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'InkLipquid';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'CookieRun-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 
#font0{
  font-family: 'Press Start 2P';
}

#font1{
  font-family: '777Littlebear';
}

#font2{
  font-family: 'InkLipquid';
}

#font3{
  font-family: 'drfont';
}

#font4{
  font-family: 'KBIZ한마음명조체';
}

#font5{
  font-family: 'circleB';
}

#font6{
  font-family: 'circleM';
}

#font7{
  font-family: 'NotoSansKR';
}

#font8{
  font-family: 'NanumBarunGothic'
}

#font9{
  font-family: 'Nanum Gothic', sans-serif;
}

#font10{
  font-family: 'MaplestoryBold';
}

#font11{
  font-family: 'CookieRun-Bold';
}

#font12{
  font-family: 'ChosunBg';
}

#font13{
  font-family: 'Recipekorea';
}

#font14{
  font-family: 'TTTogether';
}

#font15{
  font-family: 'yg-jalnan';
}

#font16{
  font-family: 'TmonMonsori';
} */
