* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

title {
  visibility: hidden;
}

article {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
}

.fontContainer {
  margin: 1rem;
  border: 1rem;
  background-color: #ffffff;
  display: block;
  height: 360px;
  width: 480px;
  border: 0.2rem groove bisque;
  text-shadow: 0.1rem 0.1rem 0.1rem #bcbcbc;
}

.fontContainer:hover {
  box-shadow: 0.4rem 0.25rem #f7f1e3;
}

.fontBox {
  padding: 0.5rem;
  background-color: #fef5f0;
  color: #0c2461;
  height: 35%;
  flex: initial;
  /* width: 100%; */
  font-size: 2rem;
  /* align-items: center; */
  /* padding-top: 1rem; */
  text-align: center;
  justify-content: center;
  /* display: flex; */
  /* grid-template-columns: 1fr 2fr; */
}

.examBox{
  /* position:initial; */
}


.fontContainer>.fontBox {
  /* height: 5.5rem; */
}

.fontContainer>.br {}

.fontContainer>.textbox {
  /* height: ; */
}

.fontBox>.fontBoxLeft {
  /* width: 5rem; */
}

.fontBox>.fontBoxRight {
  /* flex: auto */
  /* width: 10000rem; */
}

select#choiceFont {
  text-align-last: center;

}

.fontBox .choiceBox {
  /* float: left; */
  color: #0a3d62;

}
.choiceBox{
  float: left;
  margin-left: 1rem;
  margin-top: 1rem;

}

.br {
  align-content: center;
  margin-left: 10%;
  display: block;
  width: 80%;
  border-bottom: 0.1vh groove #f7d794;
}

.choiceBox {
  width: 8.5rem;
  height: 3.5rem;
  font-size: 2rem;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  border: 0.2rem groove #f7f1e3;
}

option {
  color: #0a3d62;
}

.fonts {
  font-size: 1.4rem;
}

/* optgroup {
  color: teal;
} */

.fontBox:hover {
  color: #84817a;
}

.textBox {
  padding: 0.5rem;
  /* background-color: #38ada9; */
  background-color: transparent;
  height: 75%;
  /* width: 100%; */
}

.inputBox {
  padding: 0.5rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  flex: initial;
  overflow: hidden;
  resize: none;
  font-size: 2rem;
  margin-top: 0;
}

select,
option {
  text-align: center;
  font-size: 1rem;
}

.fontBoxRight .inputBox {
  font-size: 5rem;
  /* grid-row: 50%; */
}

.fontBoxRight {
  /* flex: auto; */
  justify-content: center;
  /* overflow: inherit; */
  font-size: 2.25rem;
  float: center;
  /* width: 30rem; */
  /* height: 100em; */
  margin-top: 1.5rem;
}

.fontBoxLeft {
  /* grid-row: 50%; */
  margin: 0.5rem;
}




@font-face {
  font-family: 'drfont';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/drfont_daraehand_Basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NotoSans';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/NotoSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'circleB';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/circleB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'circleM';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/circleM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ygjalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'TTTogether';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Recipekorea';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'kbiz';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/KBIZBA.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}


@font-face {
  font-family: 'MaplestoryBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NanumBarun';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/NanumGothicBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('https://cdn.jsdelivr.net/gh/rewrite0w0/fontBox@master/fontBox/NanumBarunGothicBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunBg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Littlebear';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Littlebear.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'InkLipquid';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'CookieRunBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 
#font0{
  font-family: 'Press Start 2P';
}

#font1{
  font-family: '777Littlebear';
}

#font2{
  font-family: 'InkLipquid';
}

#font3{
  font-family: 'drfont';
}

#font4{
  font-family: 'KBIZHanmaumMyungjo';
}

#font5{
  font-family: 'circleB';
}

#font6{
  font-family: 'circleM';
}

#font7{
  font-family: 'NotoSansKR';
}

#font8{
  font-family: 'NanumBarunGothic'
}

#font9{
  font-family: 'Nanum Gothic', sans-serif;
}

#font10{
  font-family: 'MaplestoryBold';
}

#font11{
  font-family: 'CookieRun-Bold';
}

#font12{
  font-family: 'ChosunBg';
}

#font13{
  font-family: 'Recipekorea';
}

#font14{
  font-family: 'TTTogether';
}

#font15{
  font-family: 'yg-jalnan';
}

#font16{
  font-family: 'TmonMonsori';
} */






/* media */


@media all and (min-width:260px) and(max-width:360px) {
  
  /* article {
    background-color: red;
  } */

  .fontContainer 
  .fontBox 
  .choiceBox 
  .textBox 
  .inputBox {
    
  }

  .fontContainer {
    width: 90%;
    
  }
  .fontBoxRight{
    /* width: fit-content; */
    
    font-size: 70%;
  }
  .fontBoxLeft{
    /* width: 1rem; */
    /* height: 5rem; */
  }
  .choiceBox{
    width: max-content;
    /* height: 50%; */
    /* font-size: 40%; */
  }

  .fontBox {}

  .choiceBox {}

  .textBox .inputBox {}



  /* .fontContainer {
    width: 50%;
  }

  .choiceBox {
    width: 50%;
  } */

}

/*  */

@media all and (min-width:361px) and (max-width: 460px) {

  /* article {
    background-color: red;
  } */

  .fontContainer 
  .fontBox 
  .choiceBox 
  .textBox 
  .inputBox {
    
  }

  .fontContainer {
    width: 90%;
    
  }
  .fontBoxRight{
    /* width: fit-content; */
    font-size: 90%
    /* font-size: 70% */
  }
  .fontBoxLeft{
    /* width: 1rem; */
    /* height: 5rem; */
  }
  .choiceBox{
    width: max-content;
    /* height: 50%; */
    /* font-size: 40%; */
  }

  .fontBox {}

  .choiceBox {}

  .textBox .inputBox {}


  /* .fontContainer {
    width: 60%;
  }

  .choiceBox {
    width: 60%;
  } */

}



/*  */

@media all and (min-width:461px) and (max-width: 560px) {

  /* article {
    background-color: red;
  } */

  .fontContainer 
  .fontBox 
  .choiceBox 
  .textBox 
  .inputBox {
    
  }

  .fontContainer {
    width: 90%;
    
  }
  .fontBoxRight{
    /* width: fit-content; */
    font-size: 90%
    /* font-size: 70% */
  }
  .fontBoxLeft{
    /* width: 1rem; */
    /* height: 5rem; */
  }
  .choiceBox{
    width: max-content;
    /* height: 50%; */
    /* font-size: 40%; */
  }

  .fontBox {}

  .choiceBox {}

  .textBox .inputBox {}


  /* 
  .fontContainer {
    width: 80%;
  }

  .choiceBox {
    width: 80%;
  } */

}

/*  */


@media all and (min-width:561px) and (max-width:760px){
  
  .fontContainer 
  .fontBox 
  .choiceBox 
  .textBox 
  .inputBox {
    
  }

  .fontContainer {
    width: 90%;
    
  }
  .fontBoxRight{
    /* width: fit-content; */
    font-size: 90%
    /* font-size: 70% */
  }
  .fontBoxLeft{
    /* width: 1rem; */
    /* height: 5rem; */
  }
  .choiceBox{
    width: max-content;
    /* height: 50%; */
    /* font-size: 40%; */
  }

  .fontBox {}

  .choiceBox {}

  .textBox .inputBox {}


}

/*  */


@media all and (min-width:761px) and (max-width:960px){
  
  .fontContainer 
  .fontBox 
  .choiceBox 
  .textBox 
  .inputBox {
    
  }

  .fontContainer {
    width: 90%;
    
  }
  .fontBoxRight{
    /* width: fit-content; */
    font-size: 90%
    /* font-size: 70% */
  }
  .fontBoxLeft{
    /* width: 1rem; */
    /* height: 5rem; */
  }
  .choiceBox{
    width: max-content;
    /* height: 50%; */
    /* font-size: 40%; */
  }

  .fontBox {}

  .choiceBox {}

  .textBox .inputBox {}


}



/* 
@media all and (max-width:760px){
  *{
    visibility: hidden;
  }
}

@media all and (max-height:460px){
  *{
    visibility: hidden;
  }
} */